@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --light-shades: #FEFAE0;
  --light-accent: #D6D6A6;
  --main-brand: #CCA875;
  --dark-accent: #816963;
  --dark-shades: #694A53;
  --success: #b5e48c;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--light-shades);
}

header {
  background-color: var(--main-brand);

  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;

  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-around;

  font-size: 24pt;
  font-weight: 300;
}